.content-panel {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 12px 0 12px;
    display: flex;
    min-height: 0;
}

.video-main {
    flex: 0;
    transition: flex 0.8s;
}

.video-main.present {
    flex: 7;
}

.video-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
