.emoji-section {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji-section.show-emoji {
  height: 60px;
}

.emoji-section .emoji {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  width: max-content;
  background-color: #2C2C2C;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.emoji-section .emoji button {
  height: 100%;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.emoji-section .emoji button:hover {
  background-color: #4e4e4e;
}

.emoji-section .emoji button span {
  font-size: 25px;
}