* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: Inter, Roboto, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

.main {
    display: grid;
    grid-template-rows: 1fr 80px;
    height: 100%;
}
