.main-meeting .info-panel {
    flex: 0;
    height: 100%;
    width: 100%;
    transition: flex 0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-meeting .info-panel.show {
    flex: 2;
    margin-left: 12px;
    padding: 12px;
}

.main-meeting .info-panel.show .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    visibility: visible;
}

.main-meeting .info-panel .content {
    visibility: hidden;
    border-radius: 12px;
    padding: 12px;
    background-color: white;
    transition: background-color 1s;
}

.main-meeting .info-panel.show .info-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main-meeting .info-panel.show .info-header p {
    margin: 0;
    font-size: 20px;
}

.main-meeting .info-panel.show .info-header button {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    border-radius: 50%;
    cursor: pointer;
}

.main-meeting .info-panel.show .info-header button:hover {
    background-color: rgb(206, 206, 206);
}

.main-meeting .info-panel.show .info-header img {
    height: 25px;
}

.main-meeting .info-panel.show .info-content-chat {
    border-radius: 12px;
    flex: 1;
    min-height: 0;
    width: 100%;
    display: grid;
    grid-template-rows: minmax(0, 1fr) 100px;
    gap: 6px;
    border: 1px solid rgb(228, 228, 228);
}

.main-meeting .info-panel.show .info-content-chat .messages {
    min-height: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    gap: 5px;
}

.main-meeting .info-panel.show .info-content-chat .messages::-webkit-scrollbar {
    display: none;
}

.main-meeting .info-panel.show .info-content-chat .messages .user {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.main-meeting .info-panel.show .info-content-chat .messages .user .name {
    margin-left: 5px;
    font-size: 11px;
    color: rgb(128, 128, 128);
}

.main-meeting .info-panel.show .info-content-chat .messages .user .message {
    background-color: rgb(223, 223, 223);
    border-radius: 8px;
    padding: 5px;
}

.main-meeting .info-panel.show .info-content-chat .messages .time {
    align-self: center;
    font-size: 12px;
    color: rgb(143, 143, 143);
    margin-bottom: 20px;
}

.main-meeting .info-panel.show .info-content-chat .messages .me {
    align-self: flex-end;
    padding: 5px;
    background-color: rgb(223, 223, 223);
    border-radius: 8px;
}

.main-meeting .info-panel.show .info-content-chat .chat-input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.main-meeting .info-panel.show .info-content-chat .chat-input input {
    height: 50px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
    background-color: rgb(231, 231, 231);
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 50px;
}

.main-meeting .info-panel.show .info-content-chat .chat-input button {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.main-meeting .info-panel.show .info-content-chat .chat-input button:hover {
    background-color: rgb(209, 209, 209);
}

.main-meeting .info-panel.show .info-content-user {
    border-radius: 12px;
    flex: 1;
    min-height: 0;
    width: 100%;
    display: flex;
    gap: 6px;
    border: 1px solid rgb(228, 228, 228);
    overflow-y: auto;
    flex-direction: column;
    padding: 12px;
}

.main-meeting .info-panel.show .info-content-user::-webkit-scrollbar {
    display: none;
}

.main-meeting .info-panel.show .info-content-user .user {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    border: 1px solid rgb(224, 224, 224);
    align-items: center;
    justify-content: space-between;
}

.main-meeting .info-panel.show .info-content-user .user .devices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main-meeting .info-panel.show .info-content-user .user .mic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-meeting .info-panel.show .info-content-user .user .mic img {
    height: 25px;
}

.main-meeting .info-panel.show .info-content-user .user .cam {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-meeting .info-panel.show .info-content-user .user .cam img {
    height: 29px;
}
