.main-meeting .video-panel {
    flex: 7;
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    display: grid;
    gap: 6px;
    transition: flex 0.8s;
}

.main-meeting .video-panel.present {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 12px;
}

.main-meeting .video-container {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.main-meeting .video-container.present {
    height: 120px;
    aspect-ratio: auto;
}

.main-meeting .video-container .video {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.main-meeting .video-container .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.main-meeting .video-container .avatar-placeholder {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.main-meeting .video-container .avatar-background-color {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    position: relative;
}

.main-meeting .video-container .avatar-background-color .avatar-name-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}

.main-meeting .video-container .name-user {
    position: absolute;
    bottom: 6px;
    left: 6px;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-meeting .video-container .host-user {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 16px;
    color: rgb(248, 76, 76);
}

.main-meeting .video-container .emoji-video {
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-size: 30px;
}

.main-meeting .video-container .icon-audio-stage {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 6px;
    right: 6px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
    padding-bottom: 1px;
}

.main-meeting .video-container .icon-audio-stage .mic-icon {
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(1);
}
